<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="logger" value="C:\\PMAC\\LOGGERS" />
		<add key="index" value="C:\\PMAC\\DATA\\index" />
		<add key="dat" value="C:\\PMAC\\DATA" />
		<add key="interval" value="1800000" />
		<add key="console" value="0" />
		<add key="hostname" value="http://14.161.22.76:5554/API2.ashx/" />
		<add key="username" value="bavitech@bavitech.com" />
		<add key="password" value="Bvt@23ptb" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>